@charset "UTF-8";
/* CSS Document */

   
/*body*/
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    width:100%;
    padding: 0;
    color: #333;
    background-color: #fff;
}
/*#form {
  text-align:center;
}
#radio-left {
  border-top-left-radius:24px;
  border-bottom-left-radius:24px;
}
#radio-right {
  border-top-right-radius:24px;
  border-bottom-right-radius:24px;
}
#radios {
  font-family: 'National','Arial', sans-serif;
  font-weight: 300;
  font-size: 12px;
  left: 280px;
  margin: 0 auto;
  padding:15px 0 0px 0;
  text-transform: uppercase;
  top: 535px;
  }
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
input:checked+.radio{
  background: #474747;
  border: 1px solid black;
}
.radio {
  background-color: grey;
  border: 1px solid white;
  color:white;
  display:inline-block;
  font-weight:300;
  font-family: 'National','Arial', sans-serif;
  margin: 0 auto;
  padding: 3px 10px 3px 8px;
  text-align:center;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  width:100px;
}*/
.container {
  min-width:420px;
  max-width:520px;
}
.constrict {
  width:100%;
}
section {
  width:100%;
}

section.main-graphics{
    width:100%;
    margin:0;
    padding:0px 0 0px 0;
}

div.masthead{
    position:relative;
    margin-top:0px;
}

/*headline*/
.header{
    font-family: 'Times New Roman';
    font-size: 40px;
    margin-bottom:0;
    text-align: left;
    line-height: 40px;
    margin-top: 20px;
    padding:0 10px;
}
line{
    stroke:#102039;
}
.text-tab{
    font-family: 'Times New Roman';
}

/*footer*/
#sourceline {
   font-family:'Times New Roman';
   font-size: 8px;
   margin-top: 20px;
   min-height: 100px!important;
}

.footnote{
    color: black;
    margin:0;
}

.source{
    color: black;
    margin:0;
}

.credit{
    color: #3D3D3D;
    float: left!important;
    text-align: left!important;
}

.neutral {
  fill: grey !important;
  pointer-events: none;
}

.axis {
  font-family: 'Times New Roman';
  font-size: 10px !important;
  font-weight:200;
}

.axis path,
.axis line {
  fill: none;
  stroke: #999999;
  shape-rendering: crispEdges;
}

p {
  margin-left:10px;
}
#chart {
  width: 100%;
  height:530px;
  position: relative;
}

.invisible {
  z-index:3;
  fill:none;
  pointer-events: fill;
}
.bar {
  pointer-events: none;
}
.bar-district {
  pointer-events: none;
}
.d3-tip { 
    display: block;
    z-index: 10;
    max-width: 350px;
    width:300px;
    opacity:1;
    color: #333333;
    background-color: white;
    border: 1px solid black!important;
    position: absolute;     
    text-align: left;    
    padding: 2px 5px 5px 5px;
    font-size: 10px; 
    font-family:Arial;        
    pointer-events: none;  
    line-height: 10px !important;   
}
.d3-tip p {
  font-family:National;
  font-size:14px;
  margin-bottom:7px;
  padding:0px;
  text-align:center !important;
}
.d3-tip h3 {
  font-family:Arial;
  font-weight:300;
  font-size:12px;
  margin:0px;
  padding:0px;
  text-align:center !important;
}

span{
  font-family:PublicoTextBold;   
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  text-align: center;
}

.d3-tip.n:after {
  margin: 1px 0 0 0;
  top: 100%;
  left: 0;
}

.content-rail {
  width:100%;
  float:left;
  position: relative;
  min-height: 1px;
  margin-left:10px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
}
/* Graphic Flag */
.flag{
color:black;
background-color:#ffcf31;
font-family:'National';
font-size: 16px;
font-weight:100;
height:30px;
padding:4px 10px 0px 5px;
display:flex;
justify-content: space-between;
width:100%;
}
.flag div { 
padding:4px 20px 0 0; }

.flag-logo {
  min-width:200px;
  opacity: .7;
  background: url("assets/logo.png");
  background-repeat: no-repeat;
  background-size: 80%;
}
/* Header */
.hed{
font-family: 'Times New Roman';
font-size: 32px;
font-weight:700;
line-height: 40px;
margin: 5px 0px 2px 40px!important;
position: relative;
text-align: left;
}

/* Description */
.dek{
font-family: 'Arial';
font-size:14px;
text-align: left;
margin-top: 5px!important;
display: inline-block;
line-height: 25px;
margin-left: 30px;
padding:0px 10px;
margin-bottom: 16px!important;
width:95%;
}
/* Chart or visualization */
#viz{
width:100%;
height:100%;
padding:auto;
margin:auto;
}
.legend {
font-family:'National';
font-size:12px;
}

/* Footer */
#sourceline {
font-family:'Arial';
font-size: 12px;
margin-top: 0px;
margin-left:10px;
min-height: 100px!important;
}
.label {
font-family:'National';
font-size:12px;
font-weight:700;
}
.footer{
border-top:2px solid black;
color: black;
font-family:'Arial';
font-size: 10px;
margin:0 10px;
text-align:right;
width:90%;
}
.axis text {
font-weight:300;
font-family:'National';
text-transform:uppercase;
}
.source{
font-style:italic;
}
.credit{
font-style:italic;
}
text {
pointer-events: none;
}

.axis {
  font-family: 'National','Arial',sans-serif;
  text-align: center;
}
.gridline {
  opacity:.2;
}
